#corona {
  font-size: 12px;
}


.tiku{
  color: blue;
}
.mankind {
}
.piku{
  color: red;
}
body{
  font-family: 'Fredoka One', cursive;
  margin: 30px;
  position: relative;
  /* font-size: 12px; */
  background-color: orange;

}

.jumbotron{
  background-image: url(show-copy.jpg) ;
      background-size: cover;
      height: 100%;
      width: 100%;
}
/* hr {
           position: relative;
           top: 20px;
           border: none;
           height: 4px;
           background: black;
           margin-bottom: 50px;
       } */
.rk{
  margin-top: 30px;
  text-align: center;
}
.card{
  margin-right: 10px;
}


#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
